<shio-header></shio-header>
<nav class="UnderlineNav overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light" aria-label="Dashboard Tabs">
    <div class="UnderlineNav-body">
        <a href="#url" class="UnderlineNav-item selected">
            <octicons-repository size="16"></octicons-repository> Repository <span class="Counter">2</span>
        </a>

        <a href="#url" class="UnderlineNav-item">
            <octicons-workflow size="16"></octicons-workflow> Tasks <span class="Counter">10</span>
        </a>
        <a href="#url" class="UnderlineNav-item">
            <octicons-package size="16"></octicons-package> Modeling
        </a>
        <a href="#url" class="UnderlineNav-item">
            <octicons-code size="16"></octicons-code> API Playground
        </a>
    </div>
</nav>
<shio-repository-list [shSites]="getSites()"></shio-repository-list>