<div class="clearfix">
    <div *ngIf="(getShPost() | async) as post; else loading">
        <shio-post-tabs [shPost]="post.shPost"></shio-post-tabs>
        <div class="overflow-hidden px-3 px-md-4 px-lg-5 mt-4">
            <div *ngFor="let shPostAttr of post.shPost.shPostAttrs;" style="margin: 10px 0px;">
                <div class="form-group">
                    <div class="form-group-header">
                        <label for="example-textarea">{{shPostAttr.shPostTypeAttr.label}}</label>
                    </div>
                    <div class="form-group-body">
                        <textarea class="form-control" id="example-textarea">{{shPostAttr.strValue}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    Loading...
</ng-template>