<div class="clearfix">
    <div class="float-left" style="flex: 1 1 auto;width: 50%;">
        <input class="form-control input-sm" style="width: 100%;" type="text" placeholder="Find a object in the current folder..."
                        aria-label="Find a object in the current folder" />
    </div>
    <div class="float-right" style="display: inline-flex;">
        <div>
            <details class="dropdown details-reset details-overlay d-inline-block mr-2">
                <summary class="btn btn-sm" aria-haspopup="true">
                    Order
                    <div class="dropdown-caret"></div>
                </summary>

                <ul class="dropdown-menu dropdown-menu-se">
                    <li><a class="dropdown-item" href="#url">Name</a></li>
                    <li><a class="dropdown-item" href="#url">Description</a></li>
                    <li><a class="dropdown-item" href="#url">Date</a></li>
                </ul>
            </details>
        </div>
        <div>
            <details class="dropdown details-reset details-overlay d-inline-block mr-2">
                <summary class="btn btn-sm" aria-haspopup="true">
                    Select
                    <div class="dropdown-caret"></div>
                </summary>

                <ul class="dropdown-menu dropdown-menu-se">
                    <li><a class="dropdown-item" href="#url">Content</a></li>
                    <li><a class="dropdown-item" href="#url">Folder</a></li>
                    <li><a class="dropdown-item" href="#url">Everything</a></li>
                    <li><a class="dropdown-item" href="#url">Inver Selection</a></li>
                    <li><a class="dropdown-item" href="#url">Nothing</a></li>
                </ul>
            </details>
        </div>
        <div>
            <details class="dropdown details-reset details-overlay d-inline-block mr-2">
                <summary class="btn btn-sm" aria-haspopup="true">
                    Action in Batch
                    <div class="dropdown-caret"></div>
                </summary>

                <ul class="dropdown-menu dropdown-menu-se">
                    <li><a class="dropdown-item" href="#url">Copy</a></li>
                    <li><a class="dropdown-item" href="#url">Move</a></li>
                    <li><a class="dropdown-item" href="#url">Delete</a></li>
                </ul>
            </details>
        </div>
        <button class="btn btn-primary btn-sm" type="button">New</button>
    </div>
</div>
<div style="margin-top: 20px;">
    <div class="Box Box--blue">
        <div class="Box-header d-flex flex-items-center">
            <div class="Box-title overflow-hidden flex-auto">
                <nav aria-label="Breadcrumb">
                    <ol>
                        <li class="breadcrumb-item" [attr.aria-current]="objectList.breadcrumb == null ? 'page' : null">
                            <a *ngIf="objectList.breadcrumb != null"
                                [routerLink]="['/object-list', objectList.shSite.id]">{{objectList.shSite.name}}
                            </a>
                            <span *ngIf="objectList.breadcrumb == null">{{objectList.shSite.name}}</span>
                        </li>
                        <li *ngFor="let breadcrumb of objectList.breadcrumb; last as isLast" class="breadcrumb-item"
                            [attr.aria-current]="isLast ? 'page' : null"><a
                                [routerLink]="['/object-list', breadcrumb.id]"
                                *ngIf="!isLast">{{breadcrumb.name}}</a><span *ngIf="isLast">{{breadcrumb.name}}</span>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="mr-4">
                <span
                    style="position: relative;top: 1px;display: inline-block;width: 12px;height: 12px;border-radius: 50%;background-color: #2b7489;"></span>
                <span class="ml-1">Site</span>
            </div>
            <octicons-history size="16" class="mr-1"></octicons-history>
            <span class="mr-4"> 10 commits</span>
            <octicons-people size="16" class="mr-1"></octicons-people>
            <span class="mr-2"> 1 contributor</span>
        </div>
        <ul>
            <li *ngFor="let shFolder of objectList.shFolders" class="Box-row">
                <div class="d-flex flex-items-center">
                    <input type="checkbox" class="mr-2" />
                    <a [routerLink]="['/object-list', shFolder.id]" routerLinkActive="active"
                        class="d-flex flex-items-center">
                        <octicons-file-directory size="24" class="mr-1"></octicons-file-directory>
                        {{shFolder.name}}
                    </a>
                    <details class="details-reset details-overlay ml-3">
                        <summary aria-haspopup="true" class="ellipsis-expander" aria-expanded="false">
                            &hellip;
                        </summary>
                        <div class="SelectMenu">
                            <div class="SelectMenu-modal">
                                <header class="SelectMenu-header">
                                    <h3 class="SelectMenu-title">{{shFolder.name}}</h3>
                                </header>
                                <div class="SelectMenu-list">
                                    <button class="SelectMenu-item" role="menuitem">
                                        <octicons-pencil size="24" class="mr-1"></octicons-pencil> Edit
                                    </button>
                                    <button class="SelectMenu-item" role="menuitem">
                                        <octicons-copy size="24" class="mr-1"></octicons-copy> Copy
                                    </button>
                                    <button class="SelectMenu-item" role="menuitem"><svg class="octicon mr-1"
                                            viewBox="0 0 24 24" width="16" height="16">
                                            <path fill-rule="evenodd"
                                                d="M3 3a2 2 0 012-2h9.982a2 2 0 011.414.586l4.018 4.018A2 2 0 0121 7.018V21a2 2 0 01-2 2H4.75a.75.75 0 010-1.5H19a.5.5 0 00.5-.5V8.5h-4a2 2 0 01-2-2v-4H5a.5.5 0 00-.5.5v6.25a.75.75 0 01-1.5 0V3zm12-.5v4a.5.5 0 00.5.5h4a.5.5 0 00-.146-.336l-4.018-4.018A.5.5 0 0015 2.5zm-5.692 12l-2.104-2.236a.75.75 0 111.092-1.028l3.294 3.5a.75.75 0 010 1.028l-3.294 3.5a.75.75 0 11-1.092-1.028L9.308 16H4.09a2.59 2.59 0 00-2.59 2.59v3.16a.75.75 0 01-1.5 0v-3.16a4.09 4.09 0 014.09-4.09h5.218z">
                                            </path>
                                        </svg>Move</button>
                                    <button class="SelectMenu-item" role="menuitem"><svg class="octicon mr-1" width="16"
                                            height="16" viewBox="0 0 512 512">
                                            <path fill="currentColor"
                                                d="M464 0H144c-26.51 0-48 21.49-48 48v48H48c-26.51 0-48 21.49-48 48v320c0 26.51 21.49 48 48 48h320c26.51 0 48-21.49 48-48v-48h48c26.51 0 48-21.49 48-48V48c0-26.51-21.49-48-48-48zM362 464H54a6 6 0 0 1-6-6V150a6 6 0 0 1 6-6h42v224c0 26.51 21.49 48 48 48h224v42a6 6 0 0 1-6 6zm96-96H150a6 6 0 0 1-6-6V54a6 6 0 0 1 6-6h308a6 6 0 0 1 6 6v308a6 6 0 0 1-6 6z">
                                            </path>
                                        </svg>Clone</button>
                                    <button class="SelectMenu-item" role="menuitem"><svg class="octicon mr-1"
                                            viewBox="0 0 24 24" width="16" height="16">
                                            <path fill-rule="evenodd"
                                                d="M16 1.75V3h5.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H8V1.75C8 .784 8.784 0 9.75 0h4.5C15.216 0 16 .784 16 1.75zm-6.5 0a.25.25 0 01.25-.25h4.5a.25.25 0 01.25.25V3h-5V1.75z">
                                            </path>
                                            <path
                                                d="M4.997 6.178a.75.75 0 10-1.493.144L4.916 20.92a1.75 1.75 0 001.742 1.58h10.684a1.75 1.75 0 001.742-1.581l1.413-14.597a.75.75 0 00-1.494-.144l-1.412 14.596a.25.25 0 01-.249.226H6.658a.25.25 0 01-.249-.226L4.997 6.178z">
                                            </path>
                                            <path
                                                d="M9.206 7.501a.75.75 0 01.793.705l.5 8.5A.75.75 0 119 16.794l-.5-8.5a.75.75 0 01.705-.793zm6.293.793A.75.75 0 1014 8.206l-.5 8.5a.75.75 0 001.498.088l.5-8.5z">
                                            </path>
                                        </svg>Delete</button>
                                    <button class="SelectMenu-item" role="menuitem"><svg class="octicon mr-1"
                                            viewBox="0 0 24 24" width="16" height="16">
                                            <path d="M15.5 12a3.5 3.5 0 11-7 0 3.5 3.5 0 017 0z"></path>
                                            <path fill-rule="evenodd"
                                                d="M12 3.5c-3.432 0-6.125 1.534-8.054 3.24C2.02 8.445.814 10.352.33 11.202a1.6 1.6 0 000 1.598c.484.85 1.69 2.758 3.616 4.46C5.876 18.966 8.568 20.5 12 20.5c3.432 0 6.125-1.534 8.054-3.24 1.926-1.704 3.132-3.611 3.616-4.461a1.6 1.6 0 000-1.598c-.484-.85-1.69-2.757-3.616-4.46C18.124 5.034 15.432 3.5 12 3.5zM1.633 11.945c.441-.774 1.551-2.528 3.307-4.08C6.69 6.314 9.045 5 12 5c2.955 0 5.309 1.315 7.06 2.864 1.756 1.553 2.866 3.307 3.307 4.08a.111.111 0 01.017.056.111.111 0 01-.017.056c-.441.774-1.551 2.527-3.307 4.08C17.31 17.685 14.955 19 12 19c-2.955 0-5.309-1.315-7.06-2.864-1.756-1.553-2.866-3.306-3.307-4.08A.11.11 0 011.616 12a.11.11 0 01.017-.055z">
                                            </path>
                                        </svg>View Page</button>
                                    <button class="SelectMenu-item" role="menuitem"><svg class="octicon mr-1"
                                            viewBox="0 0 24 24" width="16" height="16">
                                            <path fill-rule="evenodd"
                                                d="M12.185 21.5c4.059 0 7.065-2.84 7.065-6.75 0-2.337-1.093-3.489-2.678-5.158l-.021-.023c-1.44-1.517-3.139-3.351-3.649-6.557a6.14 6.14 0 00-1.911 1.76c-.787 1.144-1.147 2.633-.216 4.495.603 1.205.777 2.74-.277 3.794-.657.657-1.762 1.1-2.956.586-.752-.324-1.353-.955-1.838-1.79-.567.706-.954 1.74-.954 2.893 0 3.847 3.288 6.75 7.435 6.75zm2.08-19.873c-.017-.345-.296-.625-.632-.543-2.337.575-6.605 4.042-4.2 8.854.474.946.392 1.675.004 2.062-.64.64-1.874.684-2.875-1.815-.131-.327-.498-.509-.803-.334-1.547.888-2.509 2.86-2.509 4.899 0 4.829 4.122 8.25 8.935 8.25 4.812 0 8.565-3.438 8.565-8.25 0-2.939-1.466-4.482-3.006-6.102-1.61-1.694-3.479-3.476-3.479-7.021z">
                                            </path>
                                        </svg>Clear Cache</button>
                                </div>
                            </div>
                        </div>
                    </details>
                </div>
                <span style="color: rgba(27, 31, 35, 0.6);font-size: smaller;">{{shFolder.date | amTimeAgo}}</span>
                <div style="margin-top: 10px;">
                    <div class="d-flex flex-items-center">
                        <span class="branch-name mr-1">Folder</span>
                    </div>
                </div>
            </li>
            <li *ngFor="let shPost of objectList.shPosts" class="Box-row ">
                <div class="d-flex flex-items-center">
                    <input type="checkbox" class="mr-2" />
                    <a [routerLink]="['/post', shPost.id]" routerLinkActive="active" class="d-flex flex-items-center">
                        <svg class="octicon mr-2" viewBox="0 0 24 24" width="24" height="24">
                            <path fill-rule="evenodd"
                                d="M0 4.75C0 3.784.784 3 1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14.5A1.75 1.75 0 0122.25 21H1.75A1.75 1.75 0 010 19.25V4.75zm1.75-.25a.25.25 0 00-.25.25v14.5c0 .138.112.25.25.25h20.5a.25.25 0 00.25-.25V4.75a.25.25 0 00-.25-.25H1.75z">
                            </path>
                            <path fill-rule="evenodd"
                                d="M5 8.75A.75.75 0 015.75 8h11.5a.75.75 0 010 1.5H5.75A.75.75 0 015 8.75zm0 4a.75.75 0 01.75-.75h5.5a.75.75 0 010 1.5h-5.5a.75.75 0 01-.75-.75z">
                            </path>
                        </svg>{{shPost.title}}</a>
                    <details class="details-reset details-overlay ml-3">
                        <summary aria-haspopup="true" class="ellipsis-expander" aria-expanded="false">
                            &hellip;
                        </summary>
                        <div class="SelectMenu">
                            <div class="SelectMenu-modal">
                                <header class="SelectMenu-header">
                                    <h3 class="SelectMenu-title">{{shPost.title}}</h3>
                                </header>
                                <div class="SelectMenu-list">
                                    <button class="SelectMenu-item" role="menuitem">
                                        <octicons-pencil size="24" class="mr-1"></octicons-pencil> Edit
                                    </button>
                                    <button class="SelectMenu-item" role="menuitem">
                                        <octicons-copy size="24" class="mr-1"></octicons-copy> Copy
                                    </button>
                                    <button class="SelectMenu-item" role="menuitem"><svg class="octicon mr-1"
                                            viewBox="0 0 24 24" width="16" height="16">
                                            <path fill-rule="evenodd"
                                                d="M3 3a2 2 0 012-2h9.982a2 2 0 011.414.586l4.018 4.018A2 2 0 0121 7.018V21a2 2 0 01-2 2H4.75a.75.75 0 010-1.5H19a.5.5 0 00.5-.5V8.5h-4a2 2 0 01-2-2v-4H5a.5.5 0 00-.5.5v6.25a.75.75 0 01-1.5 0V3zm12-.5v4a.5.5 0 00.5.5h4a.5.5 0 00-.146-.336l-4.018-4.018A.5.5 0 0015 2.5zm-5.692 12l-2.104-2.236a.75.75 0 111.092-1.028l3.294 3.5a.75.75 0 010 1.028l-3.294 3.5a.75.75 0 11-1.092-1.028L9.308 16H4.09a2.59 2.59 0 00-2.59 2.59v3.16a.75.75 0 01-1.5 0v-3.16a4.09 4.09 0 014.09-4.09h5.218z">
                                            </path>
                                        </svg>Move</button>
                                    <button class="SelectMenu-item" role="menuitem"><svg class="octicon mr-1" width="16"
                                            height="16" viewBox="0 0 512 512">
                                            <path fill="currentColor"
                                                d="M464 0H144c-26.51 0-48 21.49-48 48v48H48c-26.51 0-48 21.49-48 48v320c0 26.51 21.49 48 48 48h320c26.51 0 48-21.49 48-48v-48h48c26.51 0 48-21.49 48-48V48c0-26.51-21.49-48-48-48zM362 464H54a6 6 0 0 1-6-6V150a6 6 0 0 1 6-6h42v224c0 26.51 21.49 48 48 48h224v42a6 6 0 0 1-6 6zm96-96H150a6 6 0 0 1-6-6V54a6 6 0 0 1 6-6h308a6 6 0 0 1 6 6v308a6 6 0 0 1-6 6z">
                                            </path>
                                        </svg>Clone</button>
                                    <button class="SelectMenu-item" role="menuitem"><svg class="octicon mr-1"
                                            viewBox="0 0 24 24" width="16" height="16">
                                            <path fill-rule="evenodd"
                                                d="M16 1.75V3h5.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H8V1.75C8 .784 8.784 0 9.75 0h4.5C15.216 0 16 .784 16 1.75zm-6.5 0a.25.25 0 01.25-.25h4.5a.25.25 0 01.25.25V3h-5V1.75z">
                                            </path>
                                            <path
                                                d="M4.997 6.178a.75.75 0 10-1.493.144L4.916 20.92a1.75 1.75 0 001.742 1.58h10.684a1.75 1.75 0 001.742-1.581l1.413-14.597a.75.75 0 00-1.494-.144l-1.412 14.596a.25.25 0 01-.249.226H6.658a.25.25 0 01-.249-.226L4.997 6.178z">
                                            </path>
                                            <path
                                                d="M9.206 7.501a.75.75 0 01.793.705l.5 8.5A.75.75 0 119 16.794l-.5-8.5a.75.75 0 01.705-.793zm6.293.793A.75.75 0 1014 8.206l-.5 8.5a.75.75 0 001.498.088l.5-8.5z">
                                            </path>
                                        </svg>Delete</button>
                                    <button class="SelectMenu-item" role="menuitem"><svg class="octicon mr-1"
                                            viewBox="0 0 24 24" width="16" height="16">
                                            <path d="M15.5 12a3.5 3.5 0 11-7 0 3.5 3.5 0 017 0z"></path>
                                            <path fill-rule="evenodd"
                                                d="M12 3.5c-3.432 0-6.125 1.534-8.054 3.24C2.02 8.445.814 10.352.33 11.202a1.6 1.6 0 000 1.598c.484.85 1.69 2.758 3.616 4.46C5.876 18.966 8.568 20.5 12 20.5c3.432 0 6.125-1.534 8.054-3.24 1.926-1.704 3.132-3.611 3.616-4.461a1.6 1.6 0 000-1.598c-.484-.85-1.69-2.757-3.616-4.46C18.124 5.034 15.432 3.5 12 3.5zM1.633 11.945c.441-.774 1.551-2.528 3.307-4.08C6.69 6.314 9.045 5 12 5c2.955 0 5.309 1.315 7.06 2.864 1.756 1.553 2.866 3.307 3.307 4.08a.111.111 0 01.017.056.111.111 0 01-.017.056c-.441.774-1.551 2.527-3.307 4.08C17.31 17.685 14.955 19 12 19c-2.955 0-5.309-1.315-7.06-2.864-1.756-1.553-2.866-3.306-3.307-4.08A.11.11 0 011.616 12a.11.11 0 01.017-.055z">
                                            </path>
                                        </svg>View Page</button>
                                    <button class="SelectMenu-item" role="menuitem"><svg class="octicon mr-1"
                                            viewBox="0 0 24 24" width="16" height="16">
                                            <path fill-rule="evenodd"
                                                d="M12.185 21.5c4.059 0 7.065-2.84 7.065-6.75 0-2.337-1.093-3.489-2.678-5.158l-.021-.023c-1.44-1.517-3.139-3.351-3.649-6.557a6.14 6.14 0 00-1.911 1.76c-.787 1.144-1.147 2.633-.216 4.495.603 1.205.777 2.74-.277 3.794-.657.657-1.762 1.1-2.956.586-.752-.324-1.353-.955-1.838-1.79-.567.706-.954 1.74-.954 2.893 0 3.847 3.288 6.75 7.435 6.75zm2.08-19.873c-.017-.345-.296-.625-.632-.543-2.337.575-6.605 4.042-4.2 8.854.474.946.392 1.675.004 2.062-.64.64-1.874.684-2.875-1.815-.131-.327-.498-.509-.803-.334-1.547.888-2.509 2.86-2.509 4.899 0 4.829 4.122 8.25 8.935 8.25 4.812 0 8.565-3.438 8.565-8.25 0-2.939-1.466-4.482-3.006-6.102-1.61-1.694-3.479-3.476-3.479-7.021z">
                                            </path>
                                        </svg>Clear Cache</button>
                                </div>
                            </div>
                        </div>
                    </details>
                </div>
                <span style="color: rgba(27, 31, 35, 0.6);font-size: smaller;">{{shPost.date | amTimeAgo}}
                    <span *ngIf="shPost.summary !== null"> - </span> {{shPost.summary}}</span>
                <div style="margin-top: 15px;">
                    <div class="d-flex flex-items-center">
                        <span class="branch-name mr-1">Post</span>
                        <span class="branch-name mr-1">{{shPost.shPostType.title}}</span>
                        <span class="branch-name">Published</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>