<div *ngIf="(getShObjectList() | async) as objectList; else loading">
    <div class="clearfix overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light" style="padding-top: 20px;">
        <div class="float-left d-flex flex-items-center">
            <octicons-repository size="16" class="mr-1" style="fill:gray"></octicons-repository>
            <span style="font-size: larger;font-weight: 600;">{{objectList.shSite.name}}</span>
        </div>

        <div class="float-right">
            <button class="btn btn-sm mr-2" type="button">
                <octicons-eye size="16" class="mr-1"></octicons-eye>View Site
            </button>
            <button class="btn btn-sm btn-primary" type="button">
                <octicons-download size="16" class="mr-1"></octicons-download>Download
            </button>
        </div>
    </div>
    <nav class="UnderlineNav overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light" aria-label="Dashboard Tabs">
        <div class="UnderlineNav-body">
            <a href="#url" class="UnderlineNav-item selected">
                <octicons-note size="16" class="mr-2"></octicons-note>Content
            </a>
            <a href="#url" class="UnderlineNav-item">
                <octicons-gear size="16" class="mr-2"></octicons-gear> Settings
            </a>
        </div>
    </nav>
    <div class="clearfix overflow-hidden px-3 px-md-4 px-lg-5" style="margin-top: 30px;">
        <div id="col-left" class="float-left" style="width: calc(100% - 300px);">
            <shio-box-list [objectList]="objectList"></shio-box-list>
        </div>
        <div id="col-right" class="float-right" style="width: 280px;">
            <div class="border-bottom" style="padding-bottom: 20px;margin-bottom: 20px;">
                <shio-repository-about [shSite]="objectList.shSite"></shio-repository-about>
            </div>
            <shio-post-type-report [shSite]="objectList.shSite"></shio-post-type-report>
        </div>
    </div>
</div>
<ng-template #loading>
    Loading...
</ng-template>