<nav class="UnderlineNav overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light" aria-label="Dashboard Tabs">
    <div class="UnderlineNav-body">
        <a [routerLink]="['/content/dashboard']" routerLinkActive="active" class="UnderlineNav-item">
            <octicons-repository size="16" class="mr-1"></octicons-repository> Repository <span class="Counter">2</span>
        </a>

        <a href="#url" class="UnderlineNav-item">
            <octicons-workflow size="16" class="mr-1"></octicons-workflow> Tasks <span class="Counter">10</span>
        </a>
        <a [routerLink]="['/content/modeling']" routerLinkActive="active" class="UnderlineNav-item selected">
            <octicons-package size="16" class="mr-1"></octicons-package> Modeling
        </a>
        <a href="#url" class="UnderlineNav-item">
            <octicons-code size="16" class="mr-1"></octicons-code> API Playground
        </a>
    </div>
</nav>
<shio-post-type-list [shPostTypes]="getPostTypes()"></shio-post-type-list>